.block_intro, .block_text, .text {
	padding: 2rem;
}
.block_intro {
	text-align: center;
}

.block_image img,
.block_image_text img,
.block_text_image img,
.block_image2 img,
.block_image3 img {
	border: none;
}
.block_image_text,
.block_text_image,
.block_image2,
.block_image3 {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin: 5px;
}
.block_image_text .image1,
.block_text_image .image1,
.block_image2 .image1,
.block_image3 .image1,
.block_image3 .image2,
.block_image3 .image3 {
	width: 33.33%;
	padding: 5px;
	box-sizing: border-box;
}
.block_image2 .image2 {
	width: 66.66%;
	padding: 5px;
	box-sizing: border-box;
}
.block_image2 .text, .block_image3 .text {
	width: 100%;
}
.block_column2, .block_column3 {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}
.block_column2 .text {
	width: 50%;
}
.block_column3 .text {
	width: 33.33%;
}
.block_image_text .text,
.block_text_image .text {
	width: 66.66%;
	box-sizing: border-box;
	padding: 0;
}
.block_image_text .text {
	padding-left: 2rem;
}
.block_text_image .text {
	padding-right: 2rem;
}