:root {
    --composer-block-gap: 1rem;
    --composer_block-vertical-space: 4rem;
}

.composerBlockFlex {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.composerBlock_two > div {
    width: calc(50% - var(--composer-block-gap) / 2);
}
.composerBlock_two_2_1 > div:first-child,
.composerBlock_two_1_2 > div:last-child {
    width: calc(66.66% - var(--composer-block-gap) / 2);
}
.composerBlock_two_2_1 > div:last-child,
.composerBlock_two_1_2 > div:first-child,
.composerBlock_three > div {
    width: calc(33.33% - var(--composer-block-gap) / 2);
}
