.block_intro {
	text-align: center;
}

.block_column2,
.block_column3,
.block_image_text,
.block_text_image,
.block_image2,
.block_image3 {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
}

.block_column2 .text {
	width: calc(50% - var(--desktopSpaceSize) / 2);
}

.block_column3 .text {
	width: calc(33.33% - (var(--desktopSpaceSize) * 2) / 3);
}

.block_image_text .image1,
.block_text_image .image1 {
	width: calc(33.33% - (var(--desktopSpaceSize) * 2) / 3);
}

.block_image_text .text,
.block_text_image .text {
	width: calc(66.66% - var(--desktopSpaceSize) / 3);
}

.block_image2 .image1,
.block_image3 .image1,
.block_image3 .image2,
.block_image3 .image3 {
	width: 33.33%;
}

.block_image2 .image2 {
	width: 66.66%;
}

.block_image2 .text,
.block_image3 .text {
	width: 100%;
}

.block_column2 .text1,
.block_column3 .text1,
.block_column3 .text2 {
	margin-bottom: 0;
}

.block_column2 .text1,
.block_column3 .text1,
.block_column3 .text2,
.block_text_image .text {
	margin-right: var(--desktopSpaceSize);
}

.block_image_text .text {
	margin-left: var(--desktopSpaceSize);
}
