:root {
    --fontFamily: "Roboto", sans-serif;
    --mainColor: #7495c2;
    --secondColor: #9bc3ff;
    --mainColorText: #fff;

    --mainColorHover: #000;
    --mainColorHoverText: var(--mainColorText);
}
