.nyroModalBg, #delegationMask {
	position: fixed;
	overflow: hidden;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: #000;
	opacity: 0.7;
	z-index: 1000;
}
#delegationMask {
	opacity: 0.5;
	z-index: 500;
}
.nmReposition {
	position: absolute;
	z-index: 1002;
}
.nyroModalCloseButton {
	top: -13px;
	right: -13px;
	width: 12px;
	height: 12px;
	text-indent: -9999em;
	background: url(images/picto_close.png);
}
.nyroModalTitle {
	top: -26px;
	left: 0;
	margin: 0;
    font-size: 1.1em;
	color: #ddd;
	z-index: 1002;
}
.nyroModalCont {
	position: absolute;
	border: 1px solid #cacaca;
	margin: 15px;
	background: #fff;
	z-index: 1001;
}
.nyroModalCont iframe {
	width: 850px;
	height: 650px;
}
.nyroModalError {
	border: 4px solid red;
	color: red;
	width: 250px;
	height: 250px;
}
.nyroModalError div {
	min-width: 0;
	min-height: 0;
	padding: 10px;
}
.nyroModalLink, .nyroModalDom, .nyroModalForm, .nyroModalFormFile {
	position: relative;
	padding: 10px;
	min-height: 250px;
	min-width: 250px;
	max-width: 1000px;
}
.nyroModalImage, .nyroModalSwf, .nyroModalIframe, .nyroModalIframeForm {
	position: relative;
	overflow: hidden;
}
.nyroModalImage img {
    vertical-align: top;
}
.nyroModalHidden {
	left: -9999em;
	top: -9999em;
}
.nyroModalLoad {
	position: absolute;
	width: 100px;
	height: 100px;
	background: #fff url(images/ajaxLoader.gif) no-repeat center;
	padding: 0;
}
.nyroModalPrev, .nyroModalNext {
	outline: none;
	position: absolute;
	top: 0;
	height: 60%;
	width: 150px;
	min-height: 50px;
	max-height: 300px;
	cursor: pointer;
	text-indent: -9999em;
	background: transparent url('data:image/gif;base64,AAAA') left 20% no-repeat;
}
.nyroModalImage .nyroModalPrev, .nyroModalImage .nyroModalNext {
	height: 100%;
	width: 40%;
	max-height: none;
}
.nyroModalPrev {
	left: 0;
}
.nyroModalPrev:hover {
	background-image: url(images/prev.gif);
}
.nyroModalNext {
	right: 0;
	background-position: right 20%;
}
.nyroModalNext:hover {
	background-position: right 20%;
	background-image: url(images/next.gif);
}


.nyroModalConfirmCont .nyroModalCont {
	color: #fff;
	text-align: center;
	background: #3e3e3f;
	padding: 20px;
	font-family: 'Roboto', sans-serif;
}
.nyroModalConfirmCont .nyroModalCont .nmButtons {
	margin-bottom: 20px;
}
#nmAlert {
	display: none;
}
.nmConfirm {
	min-width: 250px;
}
.nmConfirm p {
	margin-top: 0;
}
.nmConfirm button {
	display: inline-block;
	width: 48%;
	max-width: 120px;
	text-align: center;
	color: #fff;
	font-size: 14px;
	line-height: 11px;
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
	text-transform: uppercase;
	font-weight: bold;
	padding: 10px 14px;
	background: #7495c2;
	transition: background 300ms;
	margin-right: 10px;
	float: none;
	border-radius: 0;
	border:none;
	cursor: pointer;
}
.nmConfirm button:hover {
	background: #000;
}
.nmConfirm button:last-child {
	margin-right: 0; 
}
.nmConfirm input {
	max-width: 250px;
	font-family: 'Roboto', sans-serif;
	color: #000;
	margin-bottom: 20px;
	text-align: left;
}
.nmConfirm input:not([type="checkbox"]) {
	width: 100%;
	font-size: 14px;
	padding: 2px 5px;
}
.nmConfirm select {
	font-family: 'Roboto', sans-serif;
	color: #000;
	width: 150px;
	margin-bottom: 20px;
}