@view-transition {
    navigation: auto;
}

body {
    font-family: var(--font);
    font-optical-sizing: auto;
    color: var(--c-text);
    font-size: var(--s-text);
    background: var(--c-light-background);

    /** font settings for Roboto, only value */
    font-variation-settings: "wdth" 100;

    margin: 0;
    padding: 0;

    scroll-behavior: smooth;

    accent-color: var(--c-highlight);
}

* {
    scroll-padding-top: var(--s-header-height);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: var(--font-bold-weight);
    margin: 0;
}

h1 {
    font-size: 2rem;
}

p {
    margin: 0;
}

a {
    color: var(--c-highlight);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    display: block;
    width: 100%;
    max-width: 100vw;
    height: auto;
}

svg.icon {
    display: inline-block;
    width: var(--s-svg-size);
    height: var(--s-svg-size);
}

.flexSpacer {
    flex-grow: 1;
}

.tabletOnly {
    display: none !important;
}

.btn,
.button,
button {
    --c-btn-text: var(--c-highlight-text);
    --c-btn-bg: var(--c-highlight);
    --c-btn-border: var(--c-highlight);
    --c-btn-text-hover: var(--c-highlight);
    --c-btn-bg-hover: var(--c-highlight-text);
    display: inline-block;
    font-family: var(--font);
    font-weight: var(--font-bold-weight);
    font-size: 1.4rem;
    color: var(--c-btn-text);
    padding: 0.8rem 2rem;
    border: 1px solid var(--c-btn-border);
    border-color: var(--c-btn-border);
    border-radius: var(--s-radius);
    background-color: var(--c-btn-bg);
    transition: background-color var(--transition-time), color var(--transition-time);
    cursor: pointer;
}

.btn.disabled,
.button.disabled,
button.disabled,
button[disabled] {
    pointer-events: none;
    opacity: 0.5;
}

.btnDelete {
    --c-btn-border: var(--c-delete);
    --c-btn-text: var(--c-delete-text);
    --c-btn-bg: var(--c-delete);
    --c-btn-text-hover: var(--c-delete);
}

.btnGrey {
    --c-btn-border: var(--c-white);
    --c-btn-text: var(--c-text);
    --c-btn-bg: var(--c-light-background);
    --c-btn-text-hover: var(--c-text);
    --c-btn-bg-hover: var(--c-white);
}

.btnLightWhite {
    border: none;
    --c-btn-text: var(--c-text);
    --c-btn-bg: var(--c-white);
    --c-btn-text-hover: var(--c-text);
    --c-btn-bg-hover: var(--c-light-background);
}

.btn:hover,
.button:hover,
button:hover {
    text-decoration: none;
    color: var(--c-btn-text-hover);
    background-color: var(--c-btn-bg-hover);
}

.btn.cancel,
.button.cancel,
.btnLight {
    --c-btn-text: var(--c-highlight);
    --c-btn-bg: var(--c-highlight-text);
    --c-btn-text-hover: var(--c-highlight-text);
    --c-btn-bg-hover: var(--c-highlight);
    --c-btn-border: var(--c-highlight);
}

.btn:has(.icon),
.button:has(.icon),
button:has(.icon),
.btnWithIcon {
    display: inline-flex;
    align-items: center;
    padding: 0.4rem 2rem;
}

.btn .icon + span,
.button .icon + span,
button .icon + span,
.btnWithIcon .icon + span,
.btn span + .icon,
.button span + .icon,
button span + .icon,
.btnWithIcon span + .icon {
    margin-left: 1rem;
}

.btnSmall.btnSmall {
    display: inline-flex;
    padding: 0.6rem;
}

main > article > * {
    padding: calc(var(--s-padding) / 2) var(--s-padding);
}

main > article > h1 {
    background: var(--c-white);
    padding: 0.8em var(--s-padding);
}

nyro-toaster-stack {
    top: calc(var(--s-header-height) + var(--s-padding));
    bottom: auto;
}

nyro-toaster {
    --textColor: var(--c-success-text);

    position: relative;
    color: var(--textColor);
    background: var(--c-success);
    border-radius: var(--s-radius);
    padding: 1.5rem 3rem;
    margin: 0 auto 1rem;
    font-size: 1.6rem;
    font-weight: bold;
    width: 30rem;
    max-width: calc(100vw - 2 * var(--s-padding));
    box-sizing: border-box;
    text-align: center;
}

nyro-toaster.errorToaster,
nyro-toaster.deleteToaster {
    --textColor: var(--c-delete-text);
    background: var(--c-delete);
}

nyro-toaster .close {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    color: var(--textColor);
    --s-svg-size: 1.5rem;
}
nyro-toaster .close:hover {
    color: var(--c-error);
}

nyro-cms-dialog .nyroCmsDialogClose {
    position: absolute;
    top: -15px;
    right: -15px;
    display: flex !important;
    justify-content: center;
    align-items: center;
    padding: 0 !important;
    font-size: 18px !important;
    text-align: center !important;
    width: 26px !important;
    height: 26px !important;
    border-radius: none !important;
    --s-svg-size: 16px;
}

nyro-cms-dialog p {
    margin: 0 0 var(--s-padding) 0;
    font-size: 1.6rem;
    max-width: 26rem;
    font-weight: var(--font-bold-weight);
    text-align: center;
    line-height: 1.5;
}

nyro-cms-dialog .actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nyro-cms-dialog .actions * + * {
    margin-left: var(--s-padding);
}

.listButtons {
    text-align: right;
    border-bottom: 1px solid var(--c-border);
    margin-bottom: var(--s-padding);
}

.pagination {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2rem 0;
}

.pagination strong,
.pagination .btn {
    display: inline-block;
    padding: 0.8rem 0;
    font-weight: 300;
    line-height: 1em;
    width: 3.6rem;
    text-align: center;
    margin: 0.5rem;
}
.pagination strong {
    border: 1px solid var(--c-text);
    border-radius: var(--s-radius);
    font-weight: 600;
    color: var(--c-text);
}
.pagination .btn.prev,
.pagination .btn.next {
    --s-svg-size: 3rem;
    width: auto;
    padding: 0;
    margin: 0.5rem 0;
}
.pagination .btn.prev[href="#"],
.pagination .btn.next[href="#"] {
    pointer-events: none;
    opacity: 0.5;
}
.pagination .btn .icon {
    vertical-align: sub;
}
.pagination .btn.prev .icon {
    transform: rotate(180deg);
}

.pagination span {
    text-align: center;
}

@media all and (max-width: 48em) {
    .pagination {
        justify-content: space-between;
    }
    .pagination span {
        order: 1;
        width: 100%;
    }
    .pagination .next,
    .pagination .prev {
        order: 2;
    }
}
