@view-transition {
    navigation: auto;
}

body {
    font-family: var(--font);
    font-optical-sizing: auto;
    color: var(--c-text);
    font-size: var(--s-text);
    background: var(--c-light-background);

    /** font settings for Roboto, only value */
    font-variation-settings: "wdth" 100;

    margin: 0;
    padding: 0;

    scroll-behavior: smooth;

    accent-color: var(--c-highlight);
}

* {
    scroll-padding-top: var(--s-header-height);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: var(--font-bold-weight);
    margin: 0;
}

h1 {
    font-size: 2rem;
}

p {
    margin: 0;
}

a {
    color: var(--c-highlight);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    display: block;
    width: 100%;
    max-width: 100vw;
    height: auto;
}

svg.icon {
    display: inline-block;
    width: var(--s-svg-size);
    height: var(--s-svg-size);
}

.flexSpacer {
    flex-grow: 1;
}

.tabletOnly {
    display: none !important;
}

.text-error {
    color: var(--c-error);
}

.text-warning {
    color: var(--c-warning);
}

.text-success {
    color: var(--c-success);
}

main > article > * {
    padding: calc(var(--s-padding) / 2) var(--s-padding);
}

main > article > h1 {
    background: var(--c-white);
    padding: 0.8em var(--s-padding);
}

main > article > h1:has(strong) {
    font-weight: normal;
}

nyro-toaster-stack {
    top: calc(var(--s-header-height) + var(--s-padding));
    bottom: auto;
}

nyro-toaster {
    --textColor: var(--c-success-text);

    position: relative;
    color: var(--textColor);
    background: var(--c-success);
    border-radius: var(--s-radius);
    padding: 1.5rem 3rem;
    margin: 0 auto 1rem;
    font-size: 1.6rem;
    font-weight: bold;
    width: 30rem;
    max-width: calc(100vw - 2 * var(--s-padding));
    box-sizing: border-box;
    text-align: center;
}

nyro-toaster.warningToaster {
    --textColor: var(--c-warning-text);
    background: var(--c-warning);
}

nyro-toaster.errorToaster,
nyro-toaster.deleteToaster {
    --textColor: var(--c-delete-text);
    background: var(--c-delete);
}

nyro-toaster .close {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    color: var(--textColor);
    --s-svg-size: 1.5rem;
}
nyro-toaster .close:hover {
    color: var(--c-error);
}

.listButtons {
    text-align: right;
    border-bottom: 1px solid var(--c-border);
    margin-bottom: var(--s-padding);
}

.resultActions {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
}

.resultActions > li:not(:first-child) {
    margin-left: 1rem;
}

.resultActions .menu-has-childs {
    position: relative;
}

.resultActions .menu-has-childs > input {
    display: none;
}

.resultActions .menu-has-childs > label {
    --c-btn-bg: var(--c-highlight-dark);
    --c-btn-border: var(--c-highlight-dark);
}

.resultActions .menu-has-childs > ul {
    position: absolute;
    list-style-type: none;
    margin: 0;
    padding: 0;
    left: 0;
    top: 100%;
    margin-top: 0.5rem;
    z-index: 1;
    border: 1px solid var(--c-border);
    border-radius: var(--s-radius);
    background-color: var(--c-white);
    opacity: 0;
    visibility: hidden;
    transition: opacity var(--transition-time), visibility var(--transition-time);
}
.resultActions .menu-has-childs > input:checked ~ label {
    --c-btn-text: var(--c-highlight);
    --c-btn-bg: var(--c-highlight-text);
}
.resultActions .menu-has-childs > input:checked ~ ul {
    opacity: 1;
    visibility: visible;
}

.resultActions .menu-has-childs > ul a {
    display: flex;
    justify-content: flex-start;
    border-radius: 0;
    white-space: nowrap;
    font-weight: normal;
}
.resultActions .menu-has-childs > ul li:first-child a {
    border-top-left-radius: var(--s-radius);
    border-top-right-radius: var(--s-radius);
}
.resultActions .menu-has-childs > ul li:last-child a {
    border-bottom-left-radius: var(--s-radius);
    border-bottom-right-radius: var(--s-radius);
}
.resultActions .menu-has-childs > ul a .icon {
    margin-right: 0.5rem;
}

.pagination {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2rem 0;
}

.pagination strong,
.pagination .btn {
    display: inline-block;
    padding: 0.8rem 0;
    font-weight: 300;
    line-height: 1em;
    width: 3.6rem;
    text-align: center;
    margin: 0.5rem;
}
.pagination strong {
    border: 1px solid var(--c-text);
    border-radius: var(--s-radius);
    font-weight: 600;
    color: var(--c-text);
}
.pagination .btn.prev,
.pagination .btn.next {
    --s-svg-size: 3rem;
    width: auto;
    padding: 0;
    margin: 0.5rem 0;
}
.pagination .btn.prev[href="#"],
.pagination .btn.next[href="#"] {
    pointer-events: none;
    opacity: 0.5;
}
.pagination .btn .icon {
    vertical-align: sub;
}
.pagination .btn.prev .icon {
    transform: rotate(180deg);
}

.pagination span {
    text-align: center;
}

@media all and (max-width: 48em) {
    .pagination {
        justify-content: space-between;
    }
    .pagination span {
        order: 1;
        width: 100%;
    }
    .pagination .next,
    .pagination .prev {
        order: 2;
    }
}
