label {
	display: block;
	text-align: left;
	width: auto;
	font-size: 14px;
	margin: 0 0 4px 0;
	font-weight: 900;
}
input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="number"], input[type="search"], textarea, .selectCont {
	border: 1px solid #d2d2d2;
	padding: 4px 5px;
	width: 395px;
	font-size: 14px;
}
.selectCont, .form_row .selectCont {
	position: relative;
	display: inline-block;
	width: 405px;
	overflow: hidden;
	padding: 0;
	height: 27px;
}
.selectCont:hover, .selectCont select {
	cursor: pointer;
}
.selectCont:before, .selectCont:after {
	right: 6px;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(0, 0, 0, 0);
	border-width: 6px;
}
.selectCont:before {
	border-bottom-color: #7495c2;
	margin-top: -14px;
}
.selectCont:after {
	border-top-color: #7495c2;
	margin-top: 2px;
}
.selectCont select {
	background: transparent;
	width: 435px;
	padding: 4px 5px;
	font-size: 16px;
	line-height: 1;
	border: 0;
	border-radius: 0;
	height: 27px;
	-webkit-appearance: none;
}
.form_row_choice .formIndicator {
	position: relative;
	top: -8px;
}
.form_row_checkbox label {
	font-weight: 900;
}
.form_row_choice ul {
	margin-left: 15px;
}
.form_row_choice ul label {
	font-weight: normal;
}
input[type="radio"], input[type="checkbox"] {
  display: none;
}
input[type="radio"] + label, input[type="checkbox"] + label {
	position: relative;
	padding-left: 20px;
}
input[type="radio"] + label:before, input[type="checkbox"] + label:before,
input[type="radio"] + label:after, input[type="checkbox"] + label:after {
	content: '';
	position: absolute;
	top: 50%;
	display: block;
	cursor: pointer;
}
input[type="radio"] + label:before, input[type="checkbox"] + label:before {
	left: 0;
	margin-top: -8px;
	width: 15px;
	height: 15px;
	border: 1px solid red;
}
input[type="radio"] + label:after, input[type="checkbox"] + label:after {
	left: 4px;
	margin-top: -4px;
	width: 9px;
	height: 9px;
	background: red;
	opacity: 0;
	transition: opacity 150ms;
}
input[type="radio"] + label:before, input[type="radio"] + label:after {
	border-radius: 50%;
}
input[type="radio"]:checked + label:after, input[type="checkbox"]:checked + label:after {
	opacity: 1;
}
input[type="radio"][disabled] + label:before, input[type="checkbox"][disabled] + label:before {
	border-color: #d1d1d1;
	cursor: auto;
}
input[type="radio"][disabled] + label:after, input[type="checkbox"][disabled] + label:after {
	background-color: #d1d1d1;
	cursor: auto;
}


.form_row_tinymce label, .form_row_rawhtml label {
	float: none;
	margin-right: 0;
}
.form_row_file .formIndicator {
	position: static;
}
.form_button {
	width: 407px;
}
.form_button .button, .form_button button {
	float: right;
	margin-left: 10px;
}

#filter {
	display: none;
}
form.filterForm {
	margin-top: 25px;
	overflow: auto;
	max-width: 900px;
}
.filterForm input[type="text"], .filterForm input[type="number"] {
	width: 270px;
}
.filterForm .selectCont {
	width: 280px;
}
.filterForm .selectCont select {
	width: 300px;
}
.filterForm .form_row {
	float: left;
	width: 300px;
}
.row_form_transformer {
	display: none;
}
.filterForm .form_button {
	width: auto;
	padding-right: 18px;
	clear: both;
}
.clearFilter {
	top: -45px;
	left: 0;
	font-weight: 900;
	font-size: 12px;
}
.filterSwitcher {
	position: relative;
	display: inline-block;
	color: #000;
	font-weight: 900;
	text-transform: uppercase;
}
.filterSwitcher:after {
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(0, 0, 0, 0);
	border-width: 6px;
	border-top-color: #7495c2;
	margin-top: -3px;
	margin-left: 10px;
}
.contentLvl1 + label {
	margin-left: 25px;
}
.contentLvl2 + label {
	margin-left: 50px;
}
.contentLvl3 + label {
	margin-left: 75px;
}
.contentLvl4 + label {
	margin-left: 100px;
}
.form_errors, .form_row .form_errors {
	margin: 3px 0;
}
.mapGeoloc {
	float: left;
	width: 407px;
	height: 350px;
	margin: 5px 0 10px;
}