#loginpage {
	background: #7495c2;
	background: -moz-linear-gradient(top, #7495c2 0%, #000000 100%);
	background: -webkit-linear-gradient(top, #7495c2 0%,#000000 100%);
	background: linear-gradient(to bottom, #7495c2 0%,#000000 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7495c2', endColorstr='#000000',GradientType=0 );
}
#loginpage main {
	width: 100%;
	margin: 125px 0;
	text-align: center;
}
#loginpage .formCentered {
	position: relative;
	margin: 20px auto;
	padding: 35px 55px;
	width: 265px;
	color: #fff;
	background: #000;
	background: rgba(0, 0, 0, 0.6);;
}
#loginpage #adminLogo {
	display: none;
}
#loginpage .formCentered form {
	position: static;
}
#loginpage .formCentered label {
	display: none;
}
#loginpage input {
	width: 100%;
	margin-bottom: 5px;
}
#loginpage .formCentered button {
	position: absolute;
	left: 0;
	right: 0;
	bottom: -30px;
	height: 30px;
	width: 100%;
	line-height: 30px;
	border: none;
	margin: 0;
	color: #fff;
	background: #000;
	font-size: 14px;
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
	text-transform: uppercase;
	transition: background 300ms;
}
#loginpage .formCentered button:hover {
	background: #7495c2;
}
#loginpage .form_errors {
	color: #9BC3FF;
	margin-bottom: 15px;
}
.forgotLink {
	color: #fff;
	text-decoration: underline;
	font-style: italic;
	font-size: 14px;
}
.forgotLink:hover {
	text-decoration: none;
}
#loginpage .formCentered .form_row {
	width: auto;
}
#loginpage .formCentered .formIndicator, #loginpage .formCentered .formRequiredFields {
	display: none;
}
#loginpage .formCentered .form_button {
	overflow: visible;
	position: static;
}