#contentTree {
    overflow: auto;
}
#contentTree.expandedAll .toolbar .expandAll,
#contentTree:not(.expandedAll) .toolbar .reduceAll {
    display: none;
}

#contentTree .toolbar .cancel {
    margin-left: 15rem;
}

#contentTree ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#contentTree label {
    cursor: pointer;
}

#contentTree ul input {
    display: none;
}

#contentTree > ul {
    margin: calc(var(--s-padding) * 2);
    margin-bottom: 20rem;
}

#contentTree > ul ul {
    display: none;
    margin-left: calc(var(--s-svg-size) + 1.7rem);
}

#contentTree li {
    width: 55rem;
    margin-top: -1px;
    font-size: 1.6rem;
    color: var(--c-secondary);
}

#contentTree .sortable-chosen.sortable-chosen .nodeCont,
#contentTree .sortable-chosen.sortable-chosen .nodeCont .drag {
    color: var(--c-highlight-text);
    background-color: var(--c-highlight);
}
#contentTree .sortable-chosen.sortable-chosen .menuNode {
    display: none;
}

#contentTree .nodeCont {
    position: relative;
    display: flex;
    align-items: center;
    height: 4.5rem;
    border: 1px solid var(--c-border);
    border-radius: var(--s-radius);
    background-color: var(--c-white);
    transition: background-color var(--transition-time);
}

#contentTree li:hover > .nodeCont {
    background-color: var(--c-light-background);
}

#contentTree .drag,
#contentTree .toggleSub,
#contentTree .menuToggleLabel {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    transition: color var(--transition-time), background-color var(--transition-time);
}

#contentTree .drag:hover,
#contentTree .toggleSub:hover,
#contentTree .menuToggleLabel:hover,
#contentTree .menuToggle:checked ~ .menuToggleLabel {
    color: var(--c-highlight);
    background-color: var(--c-light-background);
}

#contentTree .drag {
    margin-right: 1rem;
    width: 4rem;
    --s-svg-size: 3rem;
    color: var(--c-secondary);
    border-radius: var(--s-radius) 0 0 var(--s-radius);
    border-right: 1px solid var(--c-border);
    transition: color var(--transition-time), background-color var(--transition-time);
}

#contentTree .toggleSub {
    width: 4rem;
    --s-svg-size: 3rem;
}

#contentTree .menuToggleLabel {
    border-radius: 0 var(--s-radius) var(--s-radius) 0;
    border-left: 1px solid var(--c-border);
}

#contentTree .menuNode {
    position: absolute;
    top: 100%;
    right: calc(-1 * var(--s-padding));
    display: flex;
    flex-direction: column;
    background: var(--c-white);
    border: 1px solid var(--c-border);
    border-radius: var(--s-radius);
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: opacity var(--transition-time), visibility var(--transition-time);
}
#contentTree .menuToggle:checked ~ .menuNode {
    opacity: 1;
    visibility: visible;
}
#contentTree .menuNode a {
    display: flex;
    align-items: center;
    padding: 0.4rem 0.8rem;
    color: var(--c-text);
    transition: background-color var(--transition-time);
}
#contentTree .menuNode a.delete {
    color: var(--c-delete);
}
#contentTree .menuNode a .icon {
    margin-right: 1rem;
}
#contentTree .menuNode a:hover {
    text-decoration: none;
    background-color: var(--c-light-background);
}
#contentTree .toggleSub .icon {
    rotate: 90deg;
    transition: rotate var(--transition-time);
}
#contentTree .expandToggle:checked ~ .nodeCont .toggleSub .icon {
    rotate: 270deg;
}

#contentTree .expandToggle:checked ~ ul {
    display: block;
}

#contentTree .empty {
    padding: 0.4rem 0.8rem;
    font-style: italic;
    border: 1px dashed var(--c-border);
    border-radius: var(--s-radius);
    margin-top: 1px;
    margin-bottom: 2px;
}
.node + .empty {
    display: none;
}
