:root {
    --mainColorHover: var(--secondColor);

    --composer-panel-bg: #1f2124;
    --composer-panel-color: #fff;
    --composer-panel-border-color: #aaa;

    --composer-panel-space: 15px;
    --composer-panel-top-height: 60px;
    --composer-panel-side-width: 250px;
}

nyro-composer > textarea,
#composer > button {
    display: none;
}

nyro-composer-top-panel,
nyro-composer-side-panel {
    position: fixed;
    left: 0;
    box-sizing: border-box;
    padding: var(--composer-panel-space);
    background: var(--composer-panel-bg);
    color: var(--composer-panel-color);
    z-index: 99999;
}

nyro-composer-top-panel {
    top: 0;
    right: 0;
    height: var(--composer-panel-top-height);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-bottom: 1px solid var(--composer-panel-border-color);
}

nyro-composer-top-panel > span {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
}

nyro-composer-top-panel > span > select {
    width: fit-content;
}

nyro-composer-side-panel {
    display: block;
    top: calc(var(--composer-panel-top-height) - 1px);
    bottom: 0;
    width: var(--composer-panel-side-width);
    border-right: 1px solid var(--composer-panel-border-color);
}

.nyroComposerBtn,
::part(nyroComposerBtn) {
    display: inline-block;
    padding: 0 14px;
    height: 30px;
    line-height: 30px;
    color: var(--mainColorText);
    background: var(--mainColor);
    font-size: 14px;
    font-family: var(--fontFamily);
    font-weight: 900;
    float: none;
    border-radius: 0;
    text-transform: uppercase;
    text-decoration: none;
    transition: background 300ms, color 300ms;
}

.nyroComposerBtnUi,
::part(nyroComposerBtnUi) {
    padding: 0 6px;
    height: 20px;
    line-height: 20px;
    font-size: 11px;
}

.nyroComposerBtn:hover,
::part(nyroComposerBtn):hover {
    text-decoration: none;
    color: var(--mainColorHoverText);
    background: var(--mainColorHover);
}

.nyroComposerBtn.disabled,
::part(nyroComposerBtnDisabled) {
    pointer-events: none;
    opacity: 0.5;
}

nyro-composer-item:hover,
nyro-composer-block:hover {
    box-shadow: 0 0 0 1px red;
}

nyro-composer-item.composerSelected,
nyro-composer-block.composerSelected {
    box-shadow: 0 0 0 1px var(--mainColor);
}

.sortable-chosen {
    position: relative;
}
.sortable-chosen:before {
    content: "";
    position: absolute;
    inset: 0;
    background: var(--mainColor);
    opacity: 0.5;
    z-index: 1;
}

nyro-composer-block[readonly]:after,
nyro-composer-container[readonly]:after,
nyro-composer-item[readonly]:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: repeating-linear-gradient(45deg, #989898, #989898 4px, #fff 4px, #fff 12px);
    opacity: 0.5;
    z-index: 1;
}

nyro-composer-block[readonly] nyro-composer-container[readonly]:after,
nyro-composer-block[readonly] nyro-composer-item[readonly]:after,
nyro-composer-container[readonly] nyro-composer-item[readonly]:after {
    display: none;
}
