:root {
    --composer_block-padding: 1rem;
    --composer_block-vertical-space: 2rem;

    --composer-hr-color: #000;
    --composer-hr-space-small: 1em;
    --composer-hr-space-medium: 2em;
    --composer-hr-space-big: 4em;
}

.composerBlock_full,
.composerBlockFlex > div {
    padding: 0 var(--composer_block-padding);
    margin-bottom: var(--composer_block-vertical-space);
    box-sizing: border-box;
}

iframe.nyroComposerIframe {
    display: block;
    width: 100%;
}

.nyroHr {
    display: block;
    height: 1px;
    background-color: var(--composer-hr-color);
    background-clip: content-box;
    border: none;
    padding: var(--composer-hr-space-small) 0;
    margin: 0;
}

.nyroHr.separator_transparent {
    background-color: transparent;
}
.nyroHr.separator_space_medium,
.nyroHr.spacer_space_medium {
    padding: var(--composer-hr-space-medium) 0;
}
.nyroHr.separator_space_big,
.nyroHr.spacer_space_big {
    padding: var(--composer-hr-space-big) 0;
}

.composerBlock nyro-swiper > img {
    object-fit: contain;
}
